/* general */

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  color: var(--dark-gray);
  background-color: var(--dark-gray);
}

.banner-image {
  padding-top: 40px;
  width: 40%;
}

.p-long {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

/* backgrounds */

.navigation-bar,
.hero-section {
  background: transparent !important;
}

#focus::before,
.top-section::before,
.footer::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('/assets/backgrounds/bg-navy-frosty-sm.avif');
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  opacity: 0.8;
  z-index: -1;
}

#focus,
.top-section,
.footer {
  position: relative;
  z-index: 0;
}

.focus-item {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
  height: auto;
  align-items: center;
}

.focus-text {
  text-align: left;
  padding-right: 35px;
  font-size: 18px;
}

.focus-item img {
  width: 40px !important;
  height: 40px !important;
}

#focus .focus-list {
  color: var(--white);
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

#focus .focus-items {
  text-align: left;
  display: inline-block;
  font-size: 18px;
}

#about,
#accomplishments {
  position: relative;
  z-index: 0;
  background-color: var(--dark-gray);
}

#about::before,
#accomplishments::before {
  content: '';
  position: absolute;
  inset: 0;
  background: url('/assets/backgrounds/bg-fantasy.avif') no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.3;
  z-index: -1;
}

.white-box {
  background-color: rgba(74, 79, 92, 0.7); 
  border: 1px solid var(--dark-gray);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 35px;
  height: 500px;
}

.wow-box {
  padding-left: 40px;
  padding-right: 40px;
}

.accomplishments-item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding-bottom: 4px;
}

.accomplishments-item > :first-child {
  text-align: right !important;
}

.competition {
  min-width: auto !important;
  max-width: 50px !important;
}

.competition-wide {
  min-width: 80px !important;
  max-width: 80px !important;
}

.place {
  min-width: 100px !important;
  max-width: 100px !important;
}

.place-narrow {
  min-width: 50px !important;
  max-width: 50px !important;
}

.aoc-box,
.wow-box {
  font-size: 18px !important;
  text-align: center;
}

.aoc-box a,
.focus-text a,
.aoc-box a img,
.focus-text a img {
  background-color: transparent;
}

.aoc-box a img {
  padding-bottom: 2px;
  height: 22px;
}

.focus-text a img {
  padding-bottom: 2px;
  height: 22px !important;
  width: 22px !important;
}

#accomplishments h2,
#accomplishments .section-subheading,
#accomplishments h3,
#accomplishments .paragraph {
  color: var(--white) !important;
}

#accomplishments .section-subheading,
#about .p-long {
  word-wrap: break-word;
  white-space: normal;
}

.aoc-topic {
  padding-top: 6px;
  padding-bottom: 6px;
  display: inline-block;
}

.section-subheading {
  padding-left: 20px;
  padding-right: 20px;
}

#accomplishments h3 {
  font-weight: bold;
}

#accomplishments h4 {
  padding-top: 15px;
  font-size: 120%;
  padding-bottom: 5px;
}

.half-br {
  display: block;
  content: '';
  margin-bottom: 0.75em;
}

.quarter-br {
  display: block;
  content: '';
  margin-bottom: .3em;
}

/* image & video */

.aoc-logo {
  max-width: 300px;
  margin-bottom: 30px;
}

.game-logo {
  max-width: 150px;
  margin-top: 12px;
}

iframe {
  border-radius: 10px !important;
}

/* cursors */

body {
  cursor: default;
}

a,
button,
.dropdown-toggle,
.nav-button,
.nav-link,
.navigation-link,
.navigation {
  cursor: pointer !important;
  font-weight: bold;
}

/* nav */

.navigation-bar,
.navigation-menu,
.nav-link,
.brand-link,
.navigation-bar .brand-text {
  background-color: transparent;
  text-align: right;
}

/* headings */

#about h2 {
  font-weight: bold;
}

.hero-subheading {
  font-weight: bold;
}

/* hero */

.hero-section {
  padding-bottom: 10px !important;
}

/* about */

#about {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

#about .next-chapter,
.hero-subheading div {
  margin-top: 30px !important;
}

#about .section-heading,
#about .next-chapter {
  color: var(--white) !important;
  opacity: 0.8;
}

#about .section-subheading,
#about h3,
#about p {
  color: var(--light-gray) !important;
}

#about .section-subheading,
#focus .section-subheading {
  font-size: 20px;
}

#about .p-long {
  margin-top: 30px;
  font-size: 20px;
}

/* focus */

#focus {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

#focus {
  background-color: var(--dark-gray);
}

#focus .section-heading {
  padding-top: 30px;
}

#focus .section-title-group {
  margin-bottom: 45px;
}

#focus .section-subheading {
  color: var(--light-gray) !important;
}

#focus h2 {
  color: var(--white);
}

/* accomplishments */

#accomplishments {
  padding-top: 60px;
}

.wow-box {
  display: flex;
  justify-content: stretch;
  gap: 1;
  margin-bottom: 30px;
  width: 100% !important;
}

.wow-box div {
  flex: 1;
  min-width: 175px;
}

/* discord and twitch links */

.nav-menu .navigation-link[href*="twitch"] {
  display: inline-block;
}

.hero-button-container .hollow-button[href*="discord"],
.hero-button-container .hollow-button[href*="about"] {
  display: none;
}

/* footer */

.footer-text {
  font-size: 18px !important;
}

/* responsive */

@media (max-width: 991px) {
  #about,
  #focus {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .aoc-logo {
    max-width: 200px;
  }

  .wow-box {
    padding-left: 12px;
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .nav-menu .navigation-link[href*="twitch"] {
    display: none;
  }

  .hero-button-container .hollow-button[href*="discord"],
  .hero-button-container .hollow-button[href*="about"] {
    display: inline-block;
  }

  .nav-menu,
  .nav-link {
    background-color: transparent;
    opacity: 0.95;
    color: var(--white);
    background-color: var(--dark-gray) !important;
    font-weight: bold;
  }

  .navigation-bar {
    padding-right: 25px;
  }

  .accomplishments-item {
    display: block;
    text-align: left;
  }

  .accomplishments-item > :first-child {
    text-align: right;
  }

  .accomplishments-item {
    display: block;
    text-align: left;
    padding: 5px;
  }

  #accomplishments h4 {
    font-size: 120%;
    padding-bottom: 5px;
  }

  .wow-box {
    padding-left: 40px;
    padding-right: 40px;
  }

  .focus-items {
    padding-left: 5px;
  }

  .focus-text {
    padding-right: 20px;
  }

  .focus-item img {
    width: 40px !important;
    height: 40px !important;
    padding-right: 5px;
  }

  .hero-subheading {
    font-size: 150%;
    margin-left: 30px;
    margin-right: 30px;
  }

  .hero-subheading span {
    display: inline-block;
  }

  .hero-subheading span:first-child {
    margin-bottom: 20px;
  }

  .white-box {
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 800px) {
  .accomplishments-item {
    text-align: center;
  }

  .white-box h3 {
    max-width: 100% !important;
    white-space: normal;
    text-align: center;
    margin: 0 auto;
    font-size: 108%;
  }

  .competition,
  .competition-wide,
  .place,
  .place-narrow {
    display: inline;
  }

  #about,
  #accomplishments {
    width: auto;
    min-width: 0;
    max-width: none;
    white-space: nowrap;
  }

  #accomplishments p.paragraph {
    font-size: 100% !important;
  }

  .wow-box {
    flex-wrap: wrap;
  }

  .place-narrow {
    min-width: 100px !important;
    max-width: 100px !important;
  }

  .hero-subheading,
  .p-long {
    margin-left: 30px;
    margin-right: 30px;
  }

  .heading.next-chapter span:first-child::after,
  .hero-subheading span:first-child::after {
    content: "";
    display: block;
  }

  .white-box {
    max-width: 400px;
    height: auto;
  }
}

@media (max-width: 509px) {
  .hollow-button:first-child {
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 483px) {
  .hero-section {
    min-height: 93vh;
  }

  .banner-image {
    width: 75%;
  }

  iframe {
    border-radius: 0 !important;
  }

  #about {
    padding-bottom: 60px !important;
  }

  #about .section-title-group {
    margin-top: 0;
    margin-bottom: 30px;
  }

  #about .section-heading,
  #focus .section-heading {
    font-size: 150% !important;
  }

  #focus .section-subheading {
    margin-left: 15px;
    margin-right: 15px;
  }

  .hero-subheading span {
    display: inline-block;
  }

  .hero-subheading span:first-child {
    margin-bottom: 20px;
  }

  .white-box {
    max-width: 80vw;
  }

  .p-long {
    margin-left: 0;
    margin-right: 0;
  }

  #focus .p-long {
    text-align: left;
  }
}

@media (max-width: 259px) {
  .aoc-logo,
  .game-logo {
    max-width: 150px !important;
  }

  .brand-text {
    display: none;
  }

  .navigation-bar {
    padding-bottom: 10px;
  }

  #accomplishments .paragraph {
    font-size: 90%;
  }
}
