/* general */

html, body {
  overflow-x: hidden;
}

.full-height {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-section {
  justify-content: flex-start;
}

/* backgrounds */

.navigation-bar,
.hero-section {
  background: transparent !important;
}

#focus,
.top-section.full-height,
.footer {
  background-image: url('/src/assets/backgrounds/bg-navy-frosty.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#focus,
.top-section.full-height {
  min-height: 100vh;
}

#about {
  background-image: url('/src/assets/backgrounds/bg-ice.png') !important;
  background-size: 250% !important;
  background-position: center bottom !important;
  background-repeat: no-repeat !important;
}

#accomplishments {
  background-image: url('/src/assets/backgrounds/bg-fantasy.png') !important;
  background-size: 250% !important;
  background-position: center bottom !important;
  background-repeat: no-repeat !important;
}

.white-box {
  opacity: 0.9;
}

#accomplishments h2 {
  color: var(--light-gray) !important;
  font-weight: 700;
  font-size: 300%;
  opacity: 0.9;
}

/* images */

.aoc-logo {
  max-width: 300px;
}

.wow-logo {
  max-width: 200px;
  margin-top: 12px;
}

/* cursors */

body {
  cursor: default;
}

a,
button,
.dropdown-toggle,
.nav-button,
.nav-link,
.navigation-link,
.navigation {
  cursor: pointer !important;
}

/* nav */

.navigation-bar,
.navigation-menu,
.nav-link,
.brand-link {
  background-color: transparent;
  text-align: right;
}

/* headings */

#about h2 {
  color: var(--blue) !important;
  font-weight: bold;
}

/* top section */

.top-section {
  background-color: transparent;
}

.hero-button-container {
  opacity:0;
  animation: fadeIn 4s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* about */

#about .next-chapter {
  margin-top: 30px !important;
}

/* focus */

#focus {
  background-color: var(--dark-gray);
}

#focus .section-title-group {
  margin-top: 50px;
  margin-bottom: 50px;
}

#focus .section-subheading {
  color: var(--light-gray) !important;
}

#focus h2 {
  color: var(--white);
}

#focus .focus-list {
  text-align: left;
  color: var(--white);
  padding-bottom: 40px;
}

/* accomplishments */

.wow-logo.cata {
  margin-bottom: 15px;
}

.wow-logo.wotlk {
  margin-bottom: 5px !important;
}

/* .wow-logo.som-sod {
  margin-bottom: 100px !important;
} */

#accomplishments p.paragraph-2,
#accomplishments p.paragraph-3,
#accomplishments p.paragraph-4 {
  color: var(--dark-gray);
}

/* media queries */

@media (max-width: 991px) {
  #accomplishments p.paragraph-2,
  #accomplishments p.paragraph-3,
  #accomplishments p.paragraph-4 {
    color: var(--dark-gray);
  }
}

@media (max-width: 767px) {
  .hero-subheading,
  .p-long {
    margin-left: 30px;
    margin-right: 30px;
  }

  .wow-logo {
    max-width: 300px !important;
  }

  .navigation-bar {
    padding-left: 10px;
    padding-right: 20px;
  }

  .nav-button {
    background-color: transparent;
  }

  .nav-menu,
  .nav-link {
    background-color: transparent;
    opacity: 0.9;
  }

  .navigation-link {
    color: var(--white);
  }

  .navigation-link:hover {
    color: var(--white) !important;
  }

  .banner-video {
    width: 175vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
  }

  .heading.next-chapter span:first-child::after {
    content: "";
    display: block;
  }

  #accomplishments {
    background: #0d0f1a url('/src/assets/backgrounds/bg-fantasy.png') no-repeat center top !important;
    background-size: cover !important;
    min-height: 150vh;
    width: 100%;
  }

  #about {
    background: #0d0f1a url('/src/assets/backgrounds/bg-ice.png') no-repeat center top !important;
    background-size: cover !important;
    min-height: 150vh;
    width: 101%;
  }

  #accomplishments h2 {
    font-size: 200%;
  }

  #accomplishments p.paragraph-2,
  #accomplishments p.paragraph-3,
  #accomplishments p.paragraph-4 {
    font-size: 14px;
  }
}

@media (max-width: 259px) {
  .aoc-logo,
  .wow-logo {
    max-width: 150px !important;
  }

  .brand-text {
    display: none;
  }

  .navigation-bar {
    padding-right: 0;
  }

  .icon-nav-menu {
    height: 10px;
    width: 12px;
  }

  .nav-button {
    padding: 10px 0 0 10px;
  }

  #accomplishments h2,
  #accomplishments .section-subheading {
    font-size: 90%;
  }
}

@media (max-width: 479px) {
  body {
    overflow-x: hidden;
  }

  .section {
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
    padding-left: 0;
    padding-right: 0;
  }

  #about {
    padding-top: -500px !important;
  }

  #about .section-title-group {
    margin-bottom: 25px;
  }

  #about .section-heading,
  #focus .section-heading{
    font-size: 200% !important;
  }

  #focus .section-subheading {
    font-size: 90%;
  }

  #accomplishments h2 {
    font-size: 150%;
  }

  #accomplishments .section-title-group {
    margin-bottom: 20px;
  }

  .col-4 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 200px; /* adjust as needed */
  }

  .white-box {
    max-width: 80vw;
  }

  .wow-logo {
    max-width: 70vw !important;
  }
}
